<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Wise</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="maincontainer">
        <div class="navbar">
            <img src="images/logo.png" height="50px" width="100px" alt="">
        </div>
        <div class="maincontent">
            <div class="form">

            </div>
        </div>
    </div>
</body>
</html>