*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer{
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100%;
}
#darkmode{
    text-align: center;
    height: 30px;
    width: 100px;
    margin-top: 25px;
    margin-right: 50px;
    border-radius: 50px;
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color:   #688db1;
}

.navbar img{
    height: 80px;
    width: 150px;
}

.maincontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 229, 229);
}

.contentBlock{
    display: grid;
    grid-template-rows: 1fr 1.2fr;
    grid-template-columns: 1fr;
    border: 2px solid black;
    height: 55%;
    width: 50%;
}

.imgBlock{
    height: 20%;
    width: 20%;
}

.displayBlock{
    border: 2px solid green;
}




